.body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #1e1f22;

}

.kartu{
    width: 340px;
    border-radius: 10px;
    background-color: #2b2d31;
    margin:40px auto;
}

.banner{
    background-color: #4a7fa5;
    height:80px;
    border-radius: 10px 10px 0 0
}

.avatar{
    width:72px;
    height:72px;
    border-radius:50%;
    border:4px solid #2b2d31;
    margin-top:-36px;
    line-height:72px;
    text-align:center;
}

.usn{
    font-size:18px;
    font-weight:bold;
    color:#ffff;
}

.info{
    font-size:13px;
    color:#80848e;
}

.garis{
    border:none;
    border-top:1px solid #3f4147;
}

.member{
    color:#dbdee1;
    margin:auto;
    font-weight: bold;
}

.isian{
    color:#80848e;
    margin:auto;
}

.bungkus{
    border-top:1px solid #3f4147;
}

.tab-aktif{
    font-weight:bold;
    color:#ffff;
    border-bottom:2px solid #ffff;
}

.recent-activity{
    font-size:11px; 
    font-weight:bold;
    color:#b5bac1;
}

.game-item{
    background-color: #1e1f22;
    border-radius:8px;
    padding:10px;
}

.game-ikon {
    width:40px;
    height:40px;
    border-radius:6px;
    display:inline-block;
    line-height:40px; 
    text-align:center;
}

.game-nama{
    font-weight:bold;
    color:#ffffff;
    margin-left:50px;
    margin-top:-40px;
}

.game-waktu{
    font-size:12px;
    color:#80848e;
    margin-left:50px;
}

.bg-rolnux{
    background-color:#ffffff; 
    color:#000000;
}

.bg-zz{
    background-color:#1a1a1a; 
    color:#ffffff;
}

.bg-wuwa{
    background-color:#2a3a4a; 
}